

.modal1 {
    margin: 30px;
    height: 30%;
    width: 70%;
}

.text1 {
    font-size: 25px;
    font-weight: 800;
}

.text2 {
    font-size: 15px;
    font-weight: 800;
    color: aquamarine;
}

.text3 {
    font-size: 12px;
}