

.modal1 {
    margin: 30px;
    height: 30%;
    width: 70%;
}

.text1 {
    font-size: 25px;
    font-weight: 800;
}

.text2 {
    font-size: 15px;
    font-weight: 800;
    color: aquamarine;
}

.text3 {
    font-size: 12px;
}

.border {
    border: 1px solid black;
    height: 82px;
    width: 389px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 0px,
    0px,
    0px,
    16px;

}