
/* 
.title {
  color: ;
} */
.cardBody {
  height: 441px;
  width: 289px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background-color: #FFFFFF;
}

.cardImg {
  height: 200px;
  width: 289px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

/* for card title  and details*/
h3 {
  font-size: 20px;
}

.eventName {
  font-size: 20px;
}

.cardDetails {
  font-size: 16px;
}

.detailDate {
  font-weight: bold;
}

/* for card title and details*/
.label {
  position: absolute;
  background-color: #0080c3;
  height: 42px;
  top: 20px;
  padding: 0px 16px;
  font-size: 20px;
  color: #FEFEFE;
}

.labelWorkshop {
  position: absolute;
  background-color: #FCBE00;
  height: 42px;
  top: 20px;
  padding: 0px 16px;
  font-size: 20px;
  color: #FEFEFE;
}

.cardButton {
  background-color: #42C1C6;
  border: #42C1C6;
}

.slogan {
  color: #788085bf;
}